<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingzk.dingziaiagent.mapper.ChatMessageMapper">

    <resultMap id="BaseResultMap" type="com.dingzk.dingziaiagent.model.ChatMessage">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="conversationId" column="conversation_id" jdbcType="VARCHAR"/>
            <result property="messageType" column="message_type" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,message_type,
        created_time,updated_time,deleted,
        message_content
    </sql>

    <select id="findConversationIds" resultType="string">
        SELECT COUNT(DISTINCT conversation_id) FROM chat_message WHERE deleted = 0;
    </select>
</mapper>
